<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <div class="brand"><img src="images/logo.png" class="logo" alt="">
                <p><small>Copyright &copy;2021</small></p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <p><b>Kontakt</b>biuro@newlocation.pl
                <br/>+48 796 415 814</p>
        </div>
        <div class="col-md-3 text-center">
            <p><b>Lokalizacja</b>ul. Chabrowa 22
                <br>87-100 Toruń</p>
        </div>
        <div class="col-md-3 text-center">
            <p class="mb-0"><b>SOCIAL MEDIA</b></p>
            <ul class="footer-social-link">
                <li><a href="index.html#"><i class="ti-facebook"></i></a></li>
                <li><a href="index.html#"><i class="ti-instagram"></i></a></li>
                <li><a href="https://goo.gl/maps/6zFXLqcRfDuFxJR5A" target="_blank"><i class="ti-location-pin"></i></a></li>
            </ul>
        </div>
    </div>

</div>
