<!-- Logo -->
<div class="bauen-logo">
    <a href="index.html"> <img src="images/logo.png" class="" alt="" style="width: 200px">
    </a>
</div>
<!-- Menu -->
<nav class="bauen-main-menu">
    <ul>
        <li class="active"><a href='index.html'>Strona Główna</a></li>
        <li><a href='about.html'>O nas</a></li>
        <li class="bauen-sub"><a href="#0">Wybierz nieruchomość dla siebie</a>
            <ul>
                <li class="bauen-sub"><a href="">Mieszkania na sprzedaż</a>
                    <ul>
                        <li><a href="blog.html">kawalerki</a></li>
                        <li><a href="blog.html">dwupokojowe</a></li>
                        <li><a href="blog.html">trzypokojowe</a></li>
                        <li><a href="blog.html">większe</a></li>
                    </ul>
                </li>
                <li><a href="blog.html">Mieszkania developerskie</a></li>
                <li><a href="blog.html">Domy na sprzedaż</a></li>
                <li><a href="blog.html">Działki i grunty</a></li>
                <li><a href="blog.html">Nieruchomości komercyjne</a></li>
                <li><a href="blog.html">Nieruchomości na wynajem</a></li>
            </ul>
        </li>
        <li ><a href="blog.html">Wszystkie nasze nieruchomości</a></li>
        <li><a href='contact.html'>Kontakt</a></li>
    </ul>
</nav>
<!-- Sidebar Footer -->
<div class="bauen-footer">
    <ul>
        <li><a href="#"><i class="ti-facebook"></i></a></li>
        <li><a href="#"><i class="ti-twitter"></i></a></li>
        <li><a href="#"><i class="ti-instagram"></i></a></li>
        <li><a href="#"><i class="ti-pinterest"></i></a></li>
    </ul>
</div>

<script src="/js/custom.js"></script>
